In [6]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
import warnings
import pickle
warnings.filterwarnings('ignore')

In [7]:
data = pd.read_csv('Forest_fire.csv')
data

         Area  Oxygen  Temperature  Humidity  Fire Occurrence
0    Jharkand      40           45        20                1
1   Bangalore      50           30        10                1
2     Ecuador      10           20        70                0
3           a      60           45        70                1
4   Bangalore      30           48        10                1
5           c      50           15        30                0
6          de       5           35        35                0
7         asd       5           20        70                0
8     Ecuador      60           32        19                1
9           r      30           50        45                1
10          t      40           55        80                1
11          y      30           39       100                0
12   Jharkand      10           12        12                0
13  Bangalore      20           23        23                0
14    Ecuador      60           34        15                1
15     canada      80            4        68                0
16          c      25           56        79                1
17          c      12           45        90                0
18        asd      28           43        15                1
19        asd      26            0        32                0
20         ad      32           37        21                1
21       sasd      45           48        12                1
22        asd      56           15        65                0
23      asdas      67           45        33                1
24        das      78           49         8                1
25        das      89           45        18                1
26        ads      21           12        44                0
27        ads      11           20        59                0
28        asd       1           32        70                0
29        NaN       5           20        45                0
30        NaN      42           43        20                1
31        NaN      32           60        30                1
32        NaN       5           15         5                0
33        NaN      20           30         5                0
34        NaN      30           51         2                1
35        NaN      60           60        10                1
36        NaN      10           10        60                0
37        NaN       0           30         0                0
38        NaN      45           45        15                1

In [8]:
data = data.drop('Area',axis=1)

In [9]:
data

    Oxygen  Temperature  Humidity  Fire Occurrence
0       40           45        20                1
1       50           30        10                1
2       10           20        70                0
3       60           45        70                1
4       30           48        10                1
5       50           15        30                0
6        5           35        35                0
7        5           20        70                0
8       60           32        19                1
9       30           50        45                1
10      40           55        80                1
11      30           39       100                0
12      10           12        12                0
13      20           23        23                0
14      60           34        15                1
15      80            4        68                0
16      25           56        79                1
17      12           45        90                0
18      28           43        15                1
19      26            0        32                0
20      32           37        21                1
21      45           48        12                1
22      56           15        65                0
23      67           45        33                1
24      78           49         8                1
25      89           45        18                1
26      21           12        44                0
27      11           20        59                0
28       1           32        70                0
29       5           20        45                0
30      42           43        20                1
31      32           60        30                1
32       5           15         5                0
33      20           30         5                0
34      30           51         2                1
35      60           60        10                1
36      10           10        60                0
37       0           30         0                0
38      45           45        15                1

In [10]:
X = data.drop('Fire Occurrence',axis=1)
y = data['Fire Occurrence']
X

    Oxygen  Temperature  Humidity
0       40           45        20
1       50           30        10
2       10           20        70
3       60           45        70
4       30           48        10
5       50           15        30
6        5           35        35
7        5           20        70
8       60           32        19
9       30           50        45
10      40           55        80
11      30           39       100
12      10           12        12
13      20           23        23
14      60           34        15
15      80            4        68
16      25           56        79
17      12           45        90
18      28           43        15
19      26            0        32
20      32           37        21
21      45           48        12
22      56           15        65
23      67           45        33
24      78           49         8
25      89           45        18
26      21           12        44
27      11           20        59
28       1           32        70
29       5           20        45
30      42           43        20
31      32           60        30
32       5           15         5
33      20           30         5
34      30           51         2
35      60           60        10
36      10           10        60
37       0           30         0
38      45           45        15

In [11]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [12]:
from sklearn import linear_model

In [13]:
model = linear_model.LinearRegression()
model

LinearRegression()

In [14]:
model.fit(X_train,y_train)

LinearRegression()

In [15]:
model.score(X_train,y_train)

0.7880927005280126

In [16]:
prediction_test = model.predict(X_test)

In [18]:
print("Mean square error between y_test and predicted =" ,np.mean(prediction_test-y_test)**2)

Mean square error between y_test and predicted = 0.0023920273293513484

In [19]:
import pickle
pickle.dump(model,open('model.pkl','wb'))

In [22]:
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[50,32,16]]))

[0.7081607]